@{
    ViewData["Title"] = "Anasayfa";
}


<a href="@Url.Action("Insert","Student")" class="btn btn-success"> Öğrenci Ekle</a>
<a href="@Url.Action("Insert","Course")" class="btn btn-success"> Kurs Ekle</a>
